# Neon & Clerk Connection
DATABASE_URL=postgresql://user:password@ep-example.neon.tech/neondb?sslmode=require
VITE_CLERK_PUBLISHABLE_KEY=pk_test_example
CLERK_SECRET_KEY=sk_test_example

# Clerk Auth
VITE_CLERK_SIGN_IN_URL=/sign-in
VITE_CLERK_SIGN_UP_URL=/sign-up
VITE_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
VITE_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# Vercel Blob
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_example"
